body {
    margin: 0px;
    padding: 0px;
    position: relative;
}

header {
    background-color: #C0EA3F;
    margin: 0px;
    text-align: center;
    position: relative;
}

header p {
    padding: 10px 0px;
    font-size: 62px;
    color: #4E4B4A;
}
#main-container{
    position: relative;
}
#main-container:after {
  content: "";
  display: table;
  clear: both;
}
#results {
    font-size: 30px;
    text-align: center;
    background-color: #C0EA3F;
}

#message {
    text-align: center;
    background: grey;
    font-size: 22px;
    padding: 10px 0;
    color: #fff;
}
#left-container {
    width: 50%;
    margin: 0px;
    padding: 0px;
    position: relative;
    float: left;
    border: 2px solid black;
}

#left-container img {
    width: 100%;
    height: auto;
    float: left;
}

#right-container {
    width: 50%;
    margin: 0px;
    float: left;
    position: relative;
    border: 2px solid black;
    overflow: hidden;
    height: 0;
    padding-bottom: 28.20%;
}

#right-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#right-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
    background-color: #C0EA3F;
    margin: 0px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 80px;
}

footer p {
    padding: 10px;
    font-size: 18px;
    color: #4E4B4A;
}
